/* Buttons */

/* Buttons */
button,
.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 600;
  padding: 0;
}

.btn--primary {
  padding-block: 15px;
  padding-inline: 20px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--blue_400);
}

.btn--primary:hover {
  background-color: hsl(213, 96%, 18%, 0.9);
}

.btn--secondary {
  color: var(--gray_200);
  background-color: var(--white);
}

.btn--secondary:hover {
  color: var(--blue_400);
}

/* button checkbox toggle  -- plans monthly - yearly */
input[type="checkbox"]:checked + label:before {
  right: 50%;
}

label[for="plan-checkbox"] {
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: var(--blue_400);
  position: relative;
}

label[for="plan-checkbox"]:before {
  content: "";
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--white);
  border-radius: 50%;
  transition: right 0.4s ease;
}
