/* .card */
.card {
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding-block: 2rem;
  padding-inline: 1rem;
  color: var(--gray_200);
  background-color: var(--white);
  border-radius: 10px;
}

.card__header {
  margin-bottom: 2rem;
}

.card__header h2 {
  /* 1.6rem(25.6px) @ 23.4375rem(375px) increasing to 2rem(32px) @ 62rem(992px) */
  font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.234375rem) * 1.0373)), 2rem);
  color: var(--blue_400);
  margin-bottom: 1rem;
}

.card__main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media (min-width: 992px) {
  .card {
    max-width: 70%;
    margin-inline: auto;
    padding-inline: 0;
    position: unset;
    transform: unset;
    border-radius: 0;
  }
}
